body,
html,
#root {
  background-color: rgb(107, 153, 223);
  background-image: url("./images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

h1,
h2 {
  color: white;
  text-align: center;
}

video {
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 2%;
  border-radius: 20px;
  border: 2px outset white;
  border-width: 10px;
}

button {
  margin-top: 3%;
  margin-left: 5%;
  float: top;
  min-width: 100px;
  max-width: 100px;
  height: 50px;
  border-radius: 10px;
  color: #131312;
  background-color: yellow;
}
